
.location{

display: flex;
justify-content: center;
margin-top: 50px;

}
.location-1{
display: flex;
flex-direction: column;
padding-top: 30px;
padding-left: 30px;
padding-right: 30px;
border: solid;
height: 300px;
border-radius: 10px;

}

.location-2{

padding-top: 20px;
padding-left: 30px;
text-align: center;
margin-bottom: 5px;
padding-bottom: 20px;
padding-right: 30px;
border-radius: 10px;
}
.nairobi{
display: flex;
justify-content: center;
margin-top: 50px;

}
.nairobi-1{

display: flex;
flex-direction: column;
text-align: center;
border: solid;
height: 300px;
padding-left: 10px;
padding-right: 10px;
border-radius: 10px;




}

.real{
display: flex;
justify-content: center;
text-align: center;
border: solid none;

}

.middle{

border: solid none;
border-radius: 20px;
margin-left: 10px;
margin-right: 10px;


}

.images{
    width: 100%;
    height: 290px;
    object-fit: cover;
}

.img-car{
    width: 100%;
    height: 750px;
    object-fit: cover;
}

.carousel-caption {
    top: 0;
    bottom: auto;
    text-align: left !important;
}

.carousel-btn{
    height: 48px;
    width: 200px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background-color: #1C7BB8;
    border: none;
}

.carousel-btn-txt{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    color:#FFFFFF;
}


.main-car-txt{
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    color:#010609 !important;
}

.p-car{
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    color:#010609 !important;
}


.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo img{
    height: 100px;
}
.items ul li{
    display: inline-block;
    justify-content: space-around;
    padding: 30px;
    color: #18A0FB;
    font-weight: bold;

}
.logbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin: 20px;
    padding: 10px; */

}
.login {
    padding: 10px;
    width: 7vw;
    border: .5px solid #18A0FB;
    background: none;
    border-radius: 5px;
    margin-right: 20px;

}
.register {
    padding: 10px;
    width: 7vw;
    border: .5px solid #18A0FB;
    background: #18A0FB;
    border-radius: 5px;
    
}

.footer{
margin-top: 150px;
color: azure;
margin-right: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 20px;
font-size: 20px;


}
.footer button{
    border: none;
}

.mode{

display: flex;
justify-content: center;

}

.btn-primary, .btn-primary-active,.btn-primary:hover{
    background-color: #C84B31;
    border-color: #C84B31;
    box-shadow: none !important;

}
.btn-primary:focus{
    background-color: #C84B31;
    box-shadow: none !important;
}



#toast {
	/* By Default, Hidden */
	visibility: hidden;
	min-width: 250px;
	background-color: #e72727;
	color: #fff;
	text-align: left;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	right: 10px;
	bottom: 30px;
}
.show-bar {
    visibility: visible !important;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
    }
    
    @keyframes fadein {
    from {
    bottom: 0;
    opacity: 0;
    }
    to {
    bottom: 30px;
    opacity: 1;
    }
    }
    
    /* when the Snackbar Disappears
    from the Screen */
    @keyframes fadeout {
    from {
    bottom: 30px;
    opacity: 1;
    }
    to {
    bottom: 0;
    opacity: 0;
    }
    }
    