@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

/* Navigation bar section */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo img{
    height: 100px;
}
.items ul li{
    display: inline-block;
    justify-content: space-around;
    padding: 30px;
    color: #18A0FB;
    font-weight: bold;

}
.logbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #C84B31;
    /* margin: 20px;
    padding: 10px; */

}
.login {
    padding: 10px;
    width: 7vw;
    border: .5px solid #C84B31;
    background: none;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;

}
.register {
    padding: 10px;
    width: 7vw;
    border: .5px solid #C84B31;
    background: #C84B31;
    border-radius: 5px;
    cursor: pointer;
}
.login:hover {
    background-color: #0508b9;
  transition: opacity 0.9s ease-in-out;
}
.register:hover {
   background: #3700fd;
  transition: opacity 0.9s ease-in-out;
}
/* End of navigation bar section */

/* Welcome text section with image on the right */

.slogan {
    height: 130vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.finder {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: flex-start;
}

.guyhome img {
    margin-right: 40px;
    margin-top: 90px;
    background-size: cover;
    height: 95vh;
    width: 80vh;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.finder h1 {
    color: #2D4263;
    font-size: 44px;
    padding: 10px;
}
.finder p {
    color: #C84B31;
    font-size: 17px;
    font-weight: 800;
    margin-top: 10px;
    padding: 10px;
    
}
.finder button {
    padding: 10px;
    width: 12vw;
    border: .5px solid #C84B31;
    background: #C84B31;
    border-radius: 5px;
    margin-top: 40px;
    align-self: flex-start;
    color: white;
    margin-left: 10px;
}

/* End of welcome text section */

/* Newly listed apartments section */

.apartment {
    height: 200vh;
    width: 100%;
}
.titlenew {
    padding: 20px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;

}
.titlenew p {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.titlenew h1 {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.aptlist {
   /*  margin-left: 30px;
    margin-right: 30px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-wrap: wrap;
    
}

.list1 {
    
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    height: 430px;
    width: 280px;
    background: #e8ecee;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

}

.list1:hover {

  border-radius: 20px;
  box-shadow: 0 25px 45px rgba(0,0,0,0.5);
  transition: opacity 0.9s ease-in-out;
}

.list1 img {
    height: 280px;
    width: 280px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.list1 h3 {
    font-size: 13px;
    margin: 10px;
    
}
.list1 ul li{
    font-size: 13px;
    margin-left: 40px;
}
.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.price p {
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins';
    margin: 5px;
}
.booknow {
    padding: 5px;
    width: 7vw;
    margin: 8px;
    border: .5px solid #C84B31;
    background: #C84B31;
    border-radius: 5px;
    align-self: flex-start;
    color: white;
    cursor: pointer;

}
.booknow:hover {
    background: #18A0FB;
    box-shadow: 0 25px 45px rgba(0,0,0,0.5);
  transition: opacity 0.9s ease-in-out;
}
.second {
    margin-top: 30px;
}

/* Our services section */

.services {
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}
.servicestext {
    align-items: center;
    text-align: center;
}

.collabo {
    display: flex;
    flex-direction: row;
   /*  height: 50vh;
    width: 100%; */
    justify-content: space-around;
    margin-top: 40px;

    align-items: center;
    background: rgb(255, 255, 255);

}

.house {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.house img {
    height: 100px;
    width: 100px;
}


/* About us section styling starts here */

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    height: 150vh;
    width: 100%;
    background: #e9ecee;
}
.combinedimages {
    margin-left: 50px;
}
.aboutus h3 {
    text-align: center;
    color: #C84B31;
}
.aboutus p{
    padding: 10px;

    }
.aboutus h1 {
    color: #1d06f1;
    text-align: center;
}
.aboutus p {
    padding: 10px;
    color: #000000;
    word-spacing: 5px;
    text-align: justify;
    margin-right: 20px;
    margin-left: 50px;
    line-height: 30px;
}





/* Reviews section styling */
.industry {
    position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #fafafa;
   color: black;
   height: 180vh;
   margin-top: 70px;
}

.industry .ind {
   
    
    text-align: center;
    padding: 30px;
    

}
.industry .ind h2 {
    font-size: 25px;
    padding: 20px;
}
.industry .ind p {
    padding: 5px;
}

.slate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10px;
/*     border: 2px solid rgb(190, 187, 187);
 */
} 
.slate .part1 {
    height: 380px;
    width: 240px;
    padding: 30px;
    border: 1px solid rgb(207, 199, 199);
    border-radius: 5px;
    text-align: center;
    font-size: 10pt;
    margin-right: 30px;
}

.slate .part1 p {
    margin-top: 20px;
}
.slate .part1 .star {
    max-height: 30px;
    width: auto;
    margin-top: 20px;
}


.slate .part2 {
    height: 380px;
    width: 240px;
    padding: 30px;
    border: 1px solid rgb(207, 199, 199);
    border-radius: 5px;
    text-align: center;
    font-size: 10pt;
}
/* .slate .part2 .pic1 {
    height: 150px;
    width: 150px;
    padding: 20pxS;
} */
.slate .part2 p {
    margin-top: 20px;
}
.slate .part2 .star {
    max-height: 30px;
    width: auto;
    margin-top: 20px;
}


.slate .part3 {
    height: 380px;
    width: 240px;
    padding: 30px;
    border: 1px solid rgb(207, 199, 199);
    border-radius: 5px;
    text-align: center;
    font-size: 10pt;
    margin-left: 30px;
}
/* .slate .part3 .pic1 {
    height: 150px;
    width: 150px;
    padding: 20pxs;
} */
.slate .part3 p {
    margin-top: 20px;
}
.slate .part3 .star {
    max-height: 30px;
    width: auto;
    margin-top: 20px;
}
.pic1 {
    height: 180px;
    width: 180px;
    padding: 5px;
    border-radius: 100px;

}

/* THE VECTOR SECTION STARTS HERE */
.industry .vectors ul li {
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;


}
.industry .vectors ul li img {
    max-height: 90px;
    width: auto;
    padding: 30px;
    margin-top: 130px;
}














/* FOOTER SECTION STARTS HERE */

.callus {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #fafafa;
    color: black;
    margin-top: 100px;
}

.callus .call h3 {
    padding: 10px;
    font-size: 14pt;
    font-stretch: expanded;
    font-weight: 900;

}
.callus .call p {
    font-size: 9pt;
    font-stretch: expanded;
    margin-left: 10px;
    color: grey;
}
.callus .click button {
    border: none;
    text-decoration: none;
    height: 7vh;
    width: 10vw;
    color: #ffffff;
    background: #22a6f0;
    cursor: pointer;
    border-radius: 7px;
    margin-bottom: 10px;
    margin-top: 40px;

}
/* footer section starts here */

.ftr {
    
    color: black;
    height: 100vh;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-end;
}

/* Company starts here */

.company h4 {
    font-weight: 900;
    margin-left: 20px;

}

.company ul {
    list-style: none ;
    padding: 20px;
    text-align: left;
    /* margin: 10px 0; */
    
}
.company ul li {
    margin: 10px 0;
}

.company ul li a {
    color: #011101;
    font-weight: 300;
    font-size: 10pt;
    text-decoration: none;
    list-style: none;
} 

/* legal starts here */

.legal h4 {
    font-weight: 900;
    margin-left: 20px;

}

.legal ul {
    list-style: none ;
    padding: 20px;
    text-align: left;
    /* margin: 10px 0; */
    
}
.legal ul li {
    margin: 10px 0;
}

.legal ul li a {
    color: #011101;
    font-weight: 300;
    font-size: 10pt;
    text-decoration: none;
    list-style: none;
} 


/* Features starts here */

.features img {
    height: 80px;
    width: 80%;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 50px;

}

.ftr .features ul {
    list-style: none ;
    padding: 20px;
    text-align: left;
    /* margin: 10px 0; */
    
}
.ftr .features ul li {
    margin: 10px 0;
}

.ftr .features ul li a {
    color: #011101;
    font-weight: 300;
    font-size: 10pt;
    text-decoration: none;
    list-style: none;
} 

/* Resources Start here */

.ftr .resources h4 {
    font-weight: 900;
    margin-left: 20px;

}

.ftr .resources ul {
    list-style: none ;
    padding: 20px;
    text-align: left;
    /* margin: 10px 0; */
    
}
.ftr .resources ul li {
    margin: 10px 0;
}

.ftr .resources ul li a {
    color: #011101;
    font-weight: 300;
    font-size: 10pt;
    text-decoration: none;
    list-style: none;
} 


/* Intouch starts here */

.ftr .intouch h4 {
    font-weight: 900;
    margin-left: 20px;
    padding: 0;
    margin-bottom: 10px;

}

.ftr .intouch ul {
    list-style: none ;
    padding: 20px;
    text-align: left;
    /* margin: 10px 0; */
    
}
.ftr .intouch ul li {
    margin: 0 0;
}

.ftr .intouch ul li a {
    color: #011101;
    font-weight: 300;
    font-size: 10pt;
    text-decoration: none;
    list-style: none;
} 
.ftr .intouch ul li a img {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-top: 10px;
}

