*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.resetPassword{
    display: flex;
    justify-content: center;
    padding-top:20px ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.resetContent{
    display: flex;
    flex-direction: column;
}
.instructions{
    text-align: center;
    padding-bottom: 15px;
}
.bg-background{
    background-color: #ECDBBA;
    background-size: cover;
    height: 100vh;


}

.mainText{
    font-weight: bold;
    font-size: 25px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active{
    background-color: #C84B31;
    color: black;
    border-color: #C84B31;
}
.btn-primary:focus{
    border: none !important;
    box-shadow: none !important;
    border-color: #C84B31 !important;
}
#toast ,#toast1{
	/* By Default, Hidden */
	visibility: hidden;
	min-width: 250px;
	background-color: rgb(231, 39, 39);
	color: #fff;
	text-align: left;
	border-radius: 2px;
	padding: 16px;
	/* position: fixed; */
	z-index: 1;
	right: 10px;
	bottom: 30px;
}
.show-bar {
    visibility: visible !important;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
    }
    
    @keyframes fadein {
    from {
    bottom: 0;
    opacity: 0;
    }
    to {
    bottom: 30px;
    opacity: 1;
    }
    }
    
    /* when the Snackbar Disappears
    from the Screen */
    @keyframes fadeout {
    from {
    bottom: 30px;
    opacity: 1;
    }
    to {
    bottom: 0;
    opacity: 0;
    }
    }
    

.spandesign{
    float: right;
    }
