<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/single-blog.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Single Blog</title>
</head>

<body>
    <div class="blog-">
        <div class="container-fluid">
            <div class="header">
                <h2>Blog</h2>
                <p>Our All News Feed</p>
            </div>
            <div id="descript" class="container-lg-fluid">
                <h3>Finding the best places to search houses in Kenya</h3>
                <div class="review-fluid">
                    <div class="rows">
                        <h5>Date</h5>
                        <p>Feb 08,2022</p>
                    </div>
                    <div class="rows">
                        <h5>Category</h5>
                        <p>Housing/Travel</p>
                    </div>
                    <div class="rows">
                        <h5>Tag</h5>
                        <p>Rent,Affodable,Hot,Special</p>
                    </div>
                    <div class="rows">
                        <h5>Views</h5>
                        <p><i class="fa fa-eye" aria-hidden="true"></i>55</p>
                    </div>
                    <div class="rows">
                        <h5>Like</h5>
                        <i onclick="myFunction(this)" class="fa fa-thumbs-up">40</i>
                        <!-- <p><i class="fa fa-thumbs-up">40</i> -->
                        </p>
                    </div>
                </div>
            </div>
            <div class="container-xl">
                <img src="../Images/blog-images/house.jpg" class="img-fluid" alt="...">
                <!-- <img src="../Images/blog-images/house.jpg" alt="houses"> -->
                <p>Adipiscing elit commodo ligula eget dolor Morlem ipsum dolor sit amet nec, consectetuer adipiscing
                    elit. Aenean commod ligula eget dolor Cum sociis natoque penatibus et magnis dis parturient montes.
                    Morlem ipsum dolor sit amet nec penatib et magnis dis parturient montes. Morlem ipsum dolor sit amet
                    nec, consectetuer adipiscing elit. Aenean commodo ligulaits eget dolor. Aenean massa. Cum sociis
                    nato que pena tibus et magnis dis partu rient montes.Morlem ipsum dolor set amet nec, consectetuer
                    adipiscing elit. Aenean commodo ligula eget dolor.</p>

                <p>Nommodo ligula eget dolor Morlem ipsum dolor sit amet nec, conse ctetuer adipi-scing elit. Aenean
                    commod ligula eget dolor Cum sociis natoque penatibus et magnis dis parturient montes. Morlem ipsum
                    dolor sit amet nec penatib et magnis dis parturient montes. Morlem ipstium dolor sit amet nec, conse
                    ctetuer adipiscing elit. Aenean commodo ligulaits eget is dolor. Aenean massa. Cum sociis nato que
                    pena tibus et magnis dis partu rient montes. Morlem ipsum dolor set amet nec, consectetuer
                    adipiscing elit. Aenean commodo ligula eget dolor.</p>
                <div class="share">
                    <h3>Share</h3>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-twitter"></i>
                </div>
            </div>
        </div>
        <div class="heading">
            <h3>Related post</h3>
            <div class="container-xl" id="colums">
                <div class="coloms">
                    <img src="../Images/blog-images/4house.jpg" alt="House">
                    <p>Feb 08,2022 | Rooms & Suites</p>
                    <a href="#">Finding best places to rent houses in Kenya</a>
                    <div class="icons">
                        <div class="icons-1">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <p>100</p>
                        </div>
                        <div class="icons-1">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <p>50</p>
                        </div>
                        <div class="icons-1">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <p>60</p>
                        </div>
                    </div>
                </div>
                <div class="coloms">
                    <img src="../Images/blog-images/8house.jpg" alt="House">
                    <p>Feb 08,2022 | Rooms & Suites</p>
                    <a href="#">Finding best places to rent houses in Kenya</a>
                    <div class="icons">
                        <div class="icons-1">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <p>100</p>
                        </div>
                        <div class="icons-1">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <p>50</p>
                        </div>
                        <div class="icons-1">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <p>60</p>
                        </div>
                    </div>
                </div>
                <div class="coloms">
                    <img src="../Images/blog-images/5house.jpg" alt="House">
                    <p>Feb 08,2022 | Rooms & Suites</p>
                    <a href="#">Finding best places to rent houses in Kenya</a>
                    <div class="icons">
                        <div class="icons-1">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <p>100</p>
                        </div>
                        <div class="icons-1">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <p>50</p>
                        </div>
                        <div class="icons-1">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <p>60</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comments">
            <h3>Comments</h3>
            <!-- <div class="comment-col">
                <div class="comment-col-1">
                    <img src="../Images/blog-images/user-2.png" alt="Avatar" class="avatar">
                    <h2>Caleb Kabaya</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae nibh nisl. Cras et ma uriseg
                        haset lorem ultricies ferm entum ras vitae nibh nisl. Forem ipsum dolor sit amet.</p>
                    <a href="" class="btn">reply</a>
                </div>
            </div> -->
            <section id="wrapper">
                <div class="box-fluid">
                  <div class="row">
                    <div class="col-6">
                      <div class="comment">
                    <p v-for="items in item" v-text="items"></p>
                      </div>
                      </div>
                      </div>
                  <div class="row">
                    <div class="col-6-fluid">
                  <textarea type="text" class="input" placeholder="Your Comment Here" v-model="newItem" @keyup.enter="addItem()"></textarea>
                      <button v-on:click="addItem()" class='btn-box' type="submit">Your Comment</button>
                    </div>
                  </div>
                </div>
              </section>
        </div>

    </div>
    <div style="display: flex; justify-content: center;margin-top: 100px;">

        <div class="footer"><button>mobile app</button></div>
        <div class="footer"><button>community</button></div>
        <div class="footer"><button>company</button></div>
        <div><img src="../Images/blog-images/logo2.png" alt=""></div>
        <div class="footer"><button>Helpdesk</button></div>
        <div class="footer"><button style="border: solid none;">Blog</button></div>
        <div style="border-radius: 20px;" class="footer"><button>Resourses</button></div>
        </div>
        
        
        
        <div class="mode">
        
        <div><img src="star.png" alt=""></div>
            <div><img src="footer.png" alt=""></div>
        <div><img src="footer4.png" alt=""></div>
        <div><img src="footer3.png" alt=""></div>
        <div><img src="star.png" alt=""></div>
        </div>

    </div>
    <!-- js for comments -->
            
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script>
            $(document).ready(function(){ 
     
        $(".btn-box").on('click', function(){
        $(".comment").addClass("afterText");
      });
      $("textarea").on('keyup.enter', function(){
        $(".comment").addClass("afterText");
      });
      });
     
    new Vue({
        el: "#wrapper",
        data:{
          newItem: '',
          item: [],
        },
        methods:{
          addItem  (){
          this.item.push(this.newItem);
            this.newItem = "";
          }
      }
     
      });
    </script>
    <script>
        function myFunction(x) {
          x.classList.toggle("fa-thumbs-down");
        }
        </script>
</body>

</html>