h1 {
    text-align: center;
}
.Box1 {
    display: flex;
    font-size: x-large;
    margin-left: 1em;
    /* background-color: #C4C4C4;; */
    
    
}
.house1b{
    margin-left: 10%;
}

.Box1 button {
    background-color: blue;
    color: white;
    border-radius: 1em;
    margin-left: 2em;
   background-color: brown;
   /* position: relative;
   top: 20px; */
   margin-top: 20%;
   padding: 5%;
   width: 60%;


}
.Sbutton {
    margin-top: 2em;
    margin-left: 2em;
    border-radius: 10px;
    margin-bottom: 2em;
    text-align: center;
    padding: 2rem 3rem;

    


}

.houses {
    display: flex;
    background-color: #C4C4C4;
    margin: 2em;
    border-width: solid;

}


.block1a {
  
    /* margin-right: 2em;
    margin-left: 2em;
    padding-right: 1em; */

        padding-bottom: 10px;
        background-color: rgb(248, 244, 244);
        border: 1px solid #666;
        margin: 20px;
        background: #fff;
        transition: 0.3s;
        text-align: justify;
        cursor: pointer;
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
        border-radius: 10px;
        outline: none;
        box-shadow: inset;
        border: none;
    
 
}
.block1a button {
    background-color: blue;
    color: white;
    border-radius: 2em;
    margin-left: 2em;



}

.block1b {
    /* border: white;
    margin-right: 2em;
    */
        padding-bottom: 10px;
        background-color: rgb(248, 244, 244);
        border: 1px solid #666;
        margin: 20px;
        background: #fff;
        transition: 0.3s;
        text-align: justify;
        cursor: pointer;
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
        border-radius: 10px;
        outline: none;
        box-shadow: inset;
        border: none;

}

.block1b button {
    background-color: blue;
    color: white;
    border-radius: 2em;
    margin-left: 2em;

}

.block1c {
    /* border: white;
    margin-right: 2em;
    margin-left: 3px; */
   
        padding-bottom: 10px;
        background-color: rgb(248, 244, 244);
        border: 1px solid #666;
        margin: 20px;
        background: #fff;
        transition: 0.3s;
        text-align: justify;
        cursor: pointer;
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
        border-radius: 10px;
        outline: none;
        box-shadow: inset;
        border: none;
    
    
}
.block1c button {
    background-color: blue;
    color: white;
    border-radius: 2em;
    margin-left: 2em;
}
.houses2 {
    display: flex;
    background-color: #C4C4C4;
    margin: 2em;
    border-width: solid;

}
.block2a {  
    /* border: white;
    margin-right: 2em;
    margin-left: 3px; */
   
    padding-bottom: 10px;
    background-color: rgb(248, 244, 244);
    border: 1px solid #666;
    margin: 20px;
    background: #fff;
    transition: 0.3s;
    text-align: justify;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    outline: none;
    box-shadow: inset;
    border: none;

}
.block2a button {
    background-color: blue;
    color: white;
    border-radius: 2em;
    margin-left: 2em;
}
.block2b {
    /* border: white;
    margin-right: 2em;
    margin-left: 3px; */
   
    padding-bottom: 10px;
    background-color: rgb(248, 244, 244);
    border: 1px solid #666;
    margin: 20px;
    background: #fff;
    transition: 0.3s;
    text-align: justify;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    outline: none;
    box-shadow: inset;
    border: none;

    
}
.block2b button {
    background-color: blue;
    color: white;
    border-radius: 2em;
    margin-left: 2em;
}
.block2c {
    /* border: white;
    margin-right: 2em;
    margin-left: 3px; */
   
    padding-bottom: 10px;
    background-color: rgb(248, 244, 244);
    border: 1px solid #666;
    margin: 20px;
    background: #fff;
    transition: 0.3s;
    text-align: justify;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    outline: none;
    box-shadow: inset;
    border: none;

}
.block2c button {
    background-color: blue;
    color: white;
    border-radius: 2em;
    margin-left: 2em;
}

.houses3 {
    display: flex;
    background-color: #C4C4C4;
    margin: 2em;
    border-width: solid;
}

.block3a {
    /* border: white;
    margin-right: 2em;
    margin-left: 3px; */
   
    padding-bottom: 10px;
    background-color: rgb(248, 244, 244);
    border: 1px solid #666;
    margin: 20px;
    background: #fff;
    transition: 0.3s;
    text-align: justify;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    outline: none;
    box-shadow: inset;
    border: none;

}
.block3a button {
    background-color: blue;
    color: white;
    border-radius: 2em;
    margin-left: 2em;
}
.block3b {
    /* border: white;
    margin-right: 2em;
    margin-left: 3px; */
   
    padding-bottom: 10px;
    background-color: rgb(248, 244, 244);
    border: 1px solid #666;
    margin: 20px;
    background: #fff;
    transition: 0.3s;
    text-align: justify;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    outline: none;
    box-shadow: inset;
    border: none;

}

.block3b button {
    background-color: blue;
    color: white;
    border-radius: 2em;
    margin-left: 2em;
}
.block3c {
    /* border: white;
    margin-left: 2em;
     */
    
        padding-bottom: 10px;
        background-color: rgb(248, 244, 244);
        border: 1px solid #666;
        margin: 20px;
        background: #fff;
        transition: 0.3s;
        text-align: justify;
        cursor: pointer;
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
        border-radius: 10px;
        outline: none;
        box-shadow: inset;
        border: none;
    
}
.block3c button {
    background-color: blue;
    color: white;
    border-radius: 2em;
    margin-left: 2em;
}
